.filter-container {
  background-color: var(--jet);
  padding: 30px;
  .search {
    margin: 0 auto;
    width: 200px;
    padding: 30px 0;
    .MuiInputBase-root.MuiOutlinedInput-root {
      background-color: #fff;
      height: 40px;
    }
  }
  .filter {
    text-align: center;
    .MuiFormControl-root {
      margin: 5px;

      background-color: #fff;

      .MuiInputBase-root .MuiSelect-select.MuiInputBase-input {
        padding: 5px;
      }
    }
  }
}
.see-more {
  text-align: center;
  margin-bottom: 20px;
}
