.MuiPaper-root {
  &.profile-card {
    background-color: var(--jet);
    color: var(--hot-pink);
    width: 90vw;
    margin: 0 auto;
    margin-top: 20px;
  }
  .MuiAvatar-root.MuiAvatar-circular {
    margin: 0 auto;
    margin-top: 20px;
  }
  .MuiCardContent-root {
    .MuiTypography-root.name {
      text-align: center;
    }
    button {
      margin: 0 auto;
      display: flex;
      margin-top: 20px;
    }
    .credit-won {
      display: flex;
      justify-content: space-around;

      p {
        color: black;
        margin-top: 20px;
        font-size: 20px;
        color: var(--hot-pink);
      }
    }
    .credit-won-result {
      display: flex;
      justify-content: space-around;
      p {
        color: var(--hot-pink);
      }
    }
  }
}
.listings-container {
  .relative {
    position: relative;
  }
  .edit-delete-btn {
    position: absolute;
    top: 20px;

    button {
      margin-right: 5px;
    }
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border: 2px solid #fff;
  box-shadow: 24;
  background-color: var(--jet);
  padding: 20px;
  color: #fff;
  h2 {
    text-align: center;
  }
  .MuiAvatar-root.MuiAvatar-circular {
    margin: 0 auto;
  }
  .MuiFormControl-root {
    background-color: #fff;
  }
  .MuiInputBase-root {
    background-color: #fff;
    padding: 5px;
  }
  div {
    text-align: center;
  }
  button {
    margin: 20px 5px;
  }
}
.delete-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border: 2px solid #fff;
  box-shadow: 24;
  background-color: var(--jet);
  color: #fff;
  padding: 20px;
}
