.introduction-container {
  background-color: var(--background);
  padding: 80px 10px;

  h1 {
    margin: 0;
  }
  p {
    margin: 10px 0 0 0;
  }
}

.listings-container {
}
.info-home {
  display: flex;
  justify-content: space-evenly;
  height: 18px;
  padding: 30px;
  background-color: var(--bid);
  div {
    font-weight: bold;
  }
}
