.introduction-container {
  background-color: var(--yellow);
  padding: 80px 10px;
  .introduction {
    width: 300px;
    margin: 0 auto;
    h1 {
      margin: 0;
    }
    p {
      margin: 10px 0 0 0;
    }
  }
}
p.hurry {
  margin: 20px auto 10px auto;
  width: 300px;
}
.info-home {
  display: flex;
  justify-content: space-evenly;
  height: 18px;
  padding: 30px;
  background-color: var(--jet);
  color: #fff;
}
@media screen and (min-width: 768px) {
  .introduction-container {
    .introduction {
      width: 500px;
    }
  }
}
