:root {
  --background: #dde9f6;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--yellow);
  > a {
    margin: 20px;
  }
  .logo {
    font-size: 20px;
    color: black;
  }
  .menu-bar {
    text-align: right;
    padding-top: 10px;
    height: 56px;

    svg {
      font-size: 40px;
      margin-right: 10px;
    }
  }
}
.menu-mobile {
  background-color: var(--jet);
}
.menu-list {
  text-align: right;
  margin-right: 10px;
  li {
    margin: 20px;
    a {
      color: var(--yellow);
      text-decoration: none;
      display: flex;
      justify-content: end;
      gap: 10px;
      span {
        white-space: nowrap;
      }
      svg {
        font-size: 20px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  nav {
    .menu-bar {
      padding-top: 0;

      .menu-list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        li {
          a {
            color: black;
          }
        }
      }
    }
  }
}
