.listing-container {
  text-align: center;
  img {
    width: 80%;
  }
  .bid-ends {
    background-color: var(--yellow);
    color: var(--jet);
    padding: 30px 0;
    margin: 0 auto;
    width: 320px;
  }
  .cb-color {
    color: grey;
  }
  .credit-nr {
    font-weight: bold;
    font-size: 20px;
  }

  .bid {
    background-color: var(--jet);
    padding: 30px 0 50px 0;
    margin: 0px auto 30px auto;
    width: 320px;
    span {
      color: #fff;
    }
  }
  .MuiFormControl-root.MuiTextField-root {
    background-color: #fff;
    border-radius: 4px;
    margin-top: 20px;
  }

  .tertiary.bid-btn {
    margin-top: 30px;
    color: var(--jet);
  }
  .seller-container {
    border-bottom: solid 1px var(--jet);
    border-top: solid 1px var(--jet);
    padding: 20px 0;
    margin-bottom: 30px;
  }
  .seller-bold {
    font-weight: bold;
    margin-bottom: 16px;
  }
  .seller {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      width: 60px;
    }
  }
  .description {
    width: 320px;
    margin: 0 auto;
  }
  .single-bid {
    display: flex;
    justify-content: space-between;
  }
  .bids {
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
    h3 {
      text-align: center;
    }
    ul {
      padding: 0;
      li {
        padding: 10px;
      }
      li:nth-child(odd) {
        background: #f8f9fb;
      }
    }
    .bold-credit {
      font-weight: bold;
    }
  }
  .bid-date {
    color: grey;
    font-size: 14px;
  }
}
