:root {
  --background: #dde9f6;
  --button: #669bd9;
}
body {
  margin: 0;
}
.MuiButton-root.MuiButtonBase-root {
  font-size: 28px;
  &.primary {
    background-color: red;
  }

  &.secondary {
    background-color: green;
  }
}
